.wrapper {
    width: 26%;
    margin: 10% auto;
    text-align: left;
    display: block;
    border: 2px solid black;
    padding: 50px 50px;
    background-color: ghostwhite;
}

body {
    background-color: antiquewhite;
}

h1{
    padding-bottom: 20px;
    text-align: center;
}
input {
    float: right;
    width: 60%;
}

a{
    background-color: lightgrey;
    padding:5px 10px;
    text-decoration: none;
    border-radius: 10px;
    float: right;
    color: #000;
}

.wrapper form span{
    color:red;
}